@import "../../../../styles/theme";

.mat-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 47px;
    background-color: $main;
}

span > button{
    color: white;
}

.main{
    display: flex;
    flex-direction: row;
}

input{
    height: 40px;
    width: 280px;
}

.form-control:focus {
    border-color: #1cbec4;
}
