<div class="p-grid p-mx-0 p-justify-center centered-grid">
  <div class="p-col-12 p-sm-9 p-md-6 p-lg-5 p-xl-4">
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-text-center p-pt-3">
          <h2 class="p-text-normal">The Admin application</h2>
        </div>
      </ng-template>
      <div class="p-px-2">
        <h3 class="p-text-light p-text-justify">
          This application allows you to manage certificates, users and to modify configuration used for hospital
          logging application.
        </h3>
        <div class="p-d-flex p-jc-center p-mt-3">
          <p-menu [model]="items"></p-menu>
        </div>
      </div>
    </p-card>
  </div>
</div>
