@import "../../../../styles/theme";

.root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 85%;
    margin: 0 auto;
}

.left{
    width: 50%;
}

.right{
    width: 40%;
}

table{
    background-color: white;
}

thead th, td{
    text-align: center;
}

th, td{
    width: 50%;
}

form > div{
    margin-top: 60px;
    margin-bottom: 60px;
}

button{
    background-color: $main;
    color: white;
}