<app-dialog title="Certificate Revoke" [disabled]="fileName.invalid" 
[pending]="pending" (confirmed)="confirm()">
    <form [class.disabled]="pending">
        <mat-form-field>
            <mat-label>File name</mat-label>
            <input 
            [formControl]="fileName"
            matInput 
            placeholder="Enter certificate file name">
            <mat-error>
                Valid certificate file name is required!
            </mat-error>
        </mat-form-field>
    </form>
</app-dialog>