<div class="p-d-flex p-justify-center p-px-6 p-pt-6 p-pb-5">
  <p-card class="p-mx-6">
    <form [formGroup]="certificateForm" (ngSubmit)="save()">
      <div class="p-d-flex p-ai-center p-pt-4 p-ml-4 p-mr-4">
        <h2 class="p-text-bold p-mt-3 p-ml-4">Add a certificate</h2>
        <button class="p-ml-auto p-mr-4 p-button-outlined"
                icon="pi pi-check"
                label="Save"
                (click)="save()"
                pButton
                *ngIf="!loading; else spinner1"
        ></button>
        <ng-template #spinner1>
          <p-progressSpinner class="p-ml-auto p-mr-4"
                             [style]="{width: '30px', height: '30px'}"
          ></p-progressSpinner>
        </ng-template>
      </div>
      <div class="p-px-6">
        <div class="p-grid p-fluid p-mt-4">
          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" pInputText id="common-name" formControlName="commonName" required autofocus/>
                <label for="common-name">Common name</label>
              </span>
            </div>
            <small class="p-error"
                   *ngIf="certificateForm.get('commonName').dirty && certificateForm.get('commonName').invalid"
            >Common name invalid.</small>
          </div>
          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" pInputText id="alias" formControlName="alias" required autofocus/>
                <label for="alias">Alias</label>
              </span>
            </div>
            <small class="p-error"
                   *ngIf="certificateForm.get('alias').dirty && certificateForm.get('alias').invalid"
            >Alias invalid.</small>
          </div>
          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" pInputText id="organization" formControlName="organization" required autofocus/>
                <label for="organization">Organization</label>
              </span>
            </div>
            <small class="p-error"
                   *ngIf="certificateForm.get('organization').dirty && certificateForm.get('organization').invalid"
            >Organization invalid.</small>
          </div>
          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text"
                       pInputText
                       id="organization-unit"
                       formControlName="organizationUnit"
                       required
                       autofocus/>
                <label for="organization-unit">Organization unit</label>

              </span>
              <small class="p-error"
                     *ngIf="certificateForm.get('organizationUnit').dirty && certificateForm.get('organizationUnit').invalid"
              >Organization unit invalid.</small>
            </div>
          </div>

          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <input type="text" pInputText id="country" formControlName="country" required autofocus/>
                <label for="country">Country code</label>
              </span>
              <small class="p-error"
                     *ngIf="certificateForm.get('country').dirty && certificateForm.get('country').invalid"
              >Country code invalid.</small>
            </div>
          </div>

          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <input type="email" pInputText id="email" formControlName="email" required autofocus/>
                <label for="email">Email</label>
              </span>
            </div>
            <small class="p-error"
                   *ngIf="certificateForm.get('email').dirty && certificateForm.get('email').invalid"
            >Email invalid.</small>
          </div>

          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown [options]="templates"
                            formControlName="template"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                            (onChange)="templateChanged($event)"
                            optionLabel="label"
                            inputId="template"
                ></p-dropdown>
                <label for="template" class="p-mb-3">Template</label>
              </span>
            </div>
          </div>

          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <span class="p-float-label">
                <p-multiSelect inputId="extensions"
                               [options]="extensionOptions"
                               optionLabel="label"
                               formControlName="extensions"
                               [showToggleAll]="false"
                               (onChange)="extensionClicked($event)"
                ></p-multiSelect>
                <label for="extensions" class="p-mb-3">Extensions</label>
              </span>
            </div>
          </div>

          <div class="p-col-12 p-md-6" *ngIf="certificateForm.get('keyUsage').value">
            <div class="p-field">
              <span class="p-float-label">
                <p-multiSelect [options]="keyUsages"
                               optionLabel="option"
                               [showToggleAll]="false"
                               formControlName="keyUsage"
                ></p-multiSelect>
                <label class="p-mb-3">Key usage</label>
              </span>
            </div>
          </div>

          <div class="p-col-12 p-md-6" *ngIf="certificateForm.get('extendedKeyUsage').value">
            <div class="p-field">
              <span class="p-float-label">
                <p-multiSelect [options]="keyPurposeIds"
                               optionLabel="option"
                               [showToggleAll]="false"
                               formControlName="extendedKeyUsage"
                ></p-multiSelect>
                <label class="p-mb-3">Extended key usage</label>
              </span>
            </div>
          </div>
          <div class="p-col-12 p-md-6" *ngIf="certificateForm.get('basicConstraints').value !== null">
            <div class="p-field-checkbox">
              <label for="basic"
                     (click)="certificateForm.get('basicConstraints').setValue(!certificateForm.get('basicConstraints').value)">
                Basic constraints
              </label>
              <p-checkbox id="basic"
                          class="p-ml-2"
                          [binary]="true"
                          formControlName="basicConstraints"
              ></p-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="p-d-flex p-ai-center p-pb-4 p-mt-4 p-mr-4">
        <button class="p-ml-auto p-mr-4 p-button-outlined"
                icon="pi pi-check"
                label="Save"
                type="submit"
                pButton
                *ngIf="!loading; else spinner2"
        ></button>

        <ng-template #spinner2>
          <p-progressSpinner class="p-ml-auto p-mr-4"
                             [style]="{width: '30px', height: '30px'}"
          ></p-progressSpinner>
        </ng-template>
      </div>
    </form>

  </p-card>
</div>
