<p-table [value]="certificates"
         [rows]="rows"
         [lazy]="true"
         (onLazyLoad)="getCertificates($event)"
         [paginator]="true"
         [rowHover]="true"
         dataKey="id"
         [totalRecords]="totalRecords"
         [loading]="loading"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [showCurrentPageReport]="true"
         #table>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Manage Certificates</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Domain</th>
      <th>Common name</th>
      <th>Alias</th>
      <th>Country</th>
      <th class="responsive-column">Template</th>
      <th>Status</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cert>
    <tr>
      <td>{{cert.domain}}</td>
      <td>{{cert.commonName}}</td>
      <td>{{cert.alias}}</td>
      <td>{{cert.country}}</td>
      <td class="responsive-column">
        <p-chip *ngIf="caAlias === cert.alias; else noBadge" class="ca" [label]="getTemplate(cert.template).label" [icon]="getTemplate(cert.template).icon"></p-chip>
        <ng-template #noBadge>
          <p-chip [label]="getTemplate(cert.template).label" [icon]="getTemplate(cert.template).icon"></p-chip>
        </ng-template>
      </td>
      <td>
        <p-badge [value]="cert.revoked ? 'REVOKED' : 'VALID'" [severity]="cert.revoked ? 'danger' : 'success'"></p-badge>
      </td>
      <td>
        <button type="button"
                class="p-button-sm p-button-rounded p-button-outlined"
                pButton
                icon="pi pi-bars"
                label="Options"
                (click)="menu.toggle($event)"
        ></button>
        <p-menu #menu [popup]="true" [model]="getMenuItems(cert)" appendTo="body"></p-menu>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{totalRecords}} certificates.
    </div>
  </ng-template>
</p-table>
