<app-dialog title="Certificate Request" [disabled]="certificateForm.invalid" 
[pending]="pending" (confirmed)="confirm()">
    <form [formGroup]="certificateForm" [class.disabled]="pending">
        <app-spacer>
            <div>
                <mat-form-field>
                    <mat-label>Common name</mat-label>
                    <input 
                    formControlName="commonName" 
                    matInput 
                    placeholder="Enter common name">
                    <mat-error>
                        Valid common name is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization</mat-label>
                    <input 
                    formControlName="organization" 
                    matInput 
                    placeholder="Enter organization">
                    <mat-error>
                        Valid organization is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Country code</mat-label>
                    <input 
                    formControlName="country" 
                    matInput 
                    placeholder="Enter country code">
                    <mat-error>
                        Valid country code is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Alias</mat-label>
                    <input 
                    formControlName="alias" 
                    matInput 
                    placeholder="Enter alias">
                    <mat-error>
                        Valid alias is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization unit</mat-label>
                    <input 
                    formControlName="organizationUnit" 
                    matInput 
                    placeholder="Enter organization unit">
                    <mat-error>
                        Valid organization unit is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input 
                    formControlName="email" 
                    matInput 
                    placeholder="Enter email">
                    <mat-error>
                        Valid email is required!
                    </mat-error>
                </mat-form-field>
            </div>    
        </app-spacer>
        <h6>Template:</h6>
        <mat-radio-group formControlName="template">
            <mat-radio-button value="SUB_CA">
                Subordinate CA
            </mat-radio-button>
            <mat-radio-button value="TLS">
                TLS Server
            </mat-radio-button>
            <mat-radio-button value="USER">
                TLS Client
            </mat-radio-button>
        </mat-radio-group>
        <h6>Type:</h6>
        <mat-radio-group formControlName="type">
            <mat-radio-button value="HOSPITAL">
                Hospital
            </mat-radio-button>
            <mat-radio-button value="HOSPITAL_DEVICE">
                Hospital Device
            </mat-radio-button>
        </mat-radio-group>    
    </form>
</app-dialog>
