form{
    padding: 10px;
}

div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

span{
    font-weight: bold;
    min-width: 130px;
}

span + input{
    margin-right: 20px;
}
