<app-dialog title="Create new alarm" [pending]="pending" 
[disabled]="emptyForm || alarmForm.invalid" (confirmed)="confirm()">
    <form [formGroup]="alarmForm" [class.disabled]="pending">
        <div>
            <span>Pulse: </span>
            <input
            appOnlyNumbers
            formControlName="minPulse"
            [classList]="'form-control'"
            placeholder="Enter min pulse">     
            <input
            appOnlyNumbers
            formControlName="maxPulse"
            [classList]="'form-control'"
            placeholder="Enter max pulse">           
        </div>
        <div>
            <span>Pressure: </span>
            <input
            appOnlyNumbers
            formControlName="minPressure"
            [classList]="'form-control'"
            placeholder="Enter min pressure">     
            <input
            appOnlyNumbers
            formControlName="maxPressure"
            [classList]="'form-control'"
            placeholder="Enter max pressure">           
        </div>
        <div>
            <span>Temperature: </span>
            <input
            appOnlyNumbers
            formControlName="minTemperature"
            [classList]="'form-control'"
            placeholder="Enter min temperature">     
            <input
            appOnlyNumbers
            formControlName="maxTemperature"
            [classList]="'form-control'"
            placeholder="Enter max temperature">
        </div>
        <div>
            <span>Oxygen level: </span>
            <input
            appOnlyNumbers
            formControlName="minOxygenLevel"
            [classList]="'form-control'"
            placeholder="Enter min oxygen level">     
            <input
            appOnlyNumbers
            formControlName="maxOxygenLevel"
            [classList]="'form-control'"
            placeholder="Enter max oxygen level">
        </div>
    </form>
</app-dialog>
